<h3 class="text-xl mt-8 mb-4"><%= t('.for_volunteers') %></h3>
<blockquote class="font-bold"><%= t('.volunteer_1_question') %></blockquote>
<p><%= t('.volunteer_1_answer') %></p>
<blockquote class="font-bold"><%= t('.volunteer_2_question') %></blockquote>
<p><%= t('.volunteer_2_answer') %></p>
<blockquote class="font-bold"><%= t('.volunteer_3_question') %></blockquote>
<p><%= t('.volunteer_3_answer') %></p>

<h3 class="text-xl mt-8 mb-4"><%= t('.for_recipients') %></h3>
<blockquote class="font-bold"><%= t('.recipient_1_question') %></blockquote>
<p><%= t('.recipient_1_answer') %></p>

<h3 class="text-xl mt-8 mb-4"><%= t('.for_everyone') %></h3>
<blockquote class="font-bold"><%= t('.everyone_1_question') %></blockquote>
<p><%= t('.everyone_1_answer') %></p>
<blockquote class="font-bold"><%= t('.everyone_2_question') %></blockquote>
<p><%= t('.everyone_2_answer') %></p>
<blockquote class="font-bold"><%= t('.everyone_3_question') %></blockquote>
<p><%= t('.everyone_3_answer') %></p>
