<h3 class="text-xl text-center mt-12"><%= t('.need_details') %></h3>

<div
  class="mx-auto w-full md:w-1/2"
  data-controller='edit-location'
  data-edit-location-lat='<%= current_user.lc_lat %>'
  data-edit-location-lng='<%= current_user.lc_lng %>'>
  <%= form_with(model: current_user, url: profile_path, class: 'flex flex-col justify-between items-center') do |f| %>
    <div class="my-4 self-stretch">
      <%= f.label :name, t('.name') %>
      <%= f.text_field :name, class: 'string' %>
      <% if current_user.errors[:name] %>
        <p class="text-red-500"><%= current_user.errors[:name].join(', ') %></p>
      <% end %>
    </div>
    <div class="my-4">
      <%= f.label :bio, t('.bio') %>
      <p class="text-gray-600 text-sm">
        <%= t('.bio_questions') %>
      </p>
      <%= f.text_area :bio %>
      <% if current_user.errors[:bio] %>
        <p class="text-red-500"><%= current_user.errors[:bio].join(', ') %></p>
      <% end %>
      <%= f.hidden_field :lc_lat, 'data-target' => 'edit-location.latInput' %>
      <%= f.hidden_field :lc_lng, 'data-target' => 'edit-location.lngInput' %>

      <p class="mt-8 text-lg">
        <%= t('.location') %>
      </p>
      <div data-target="edit-location.map" class="w-full h-50vh"></div>
      <% if current_user.errors[:location] %>
        <p class="text-red-500"><%= current_user.errors[:location].join(', ') %></p>
      <% end %>
    </div>
    <%= f.submit t('common.save'), class: "rounded bg-blue-600 px-6 py-2 text-xl mt-8 text-white" %>
  <% end %>
</div>
