<h1 class="text-4xl text-center mt-4"><%= t('.view_requests') %></h1>

<h4 class="text-xl"><%= t('.n_requests', count: @needs.length) %></h4>

<div
  class="w-full h-50vh"
  data-controller="needs-map"
  data-needs-map-list='<%= @needs_json %>'
  data-needs-map-lat="<%= current_user.lc_lat %>"
  data-needs-map-lng="<%= current_user.lc_lng %>"
></div>
