<h1 class="text-4xl text-center mt-4">
<% if current_user.need&.id == @need.id %>
  <%= t('.view_your_request') %>
<% else %>
  <%= t('.view_request') %>
<% end %>

<h3 class="text-xl italic text-center mt-4">
  <%= @need.description %>
</h3>

<div class="w-full h-50vh mt-8" data-controller="show-map" data-lat="<%= @need.lc_lat %>" data-lng="<%= @need.lc_lng %>"></div>

<% if policy(@need).edit? %>
  <div class="flex justify-center mt-8">
    <%= link_to t('.edit_your_request'), edit_my_need_path, class: 'p-8 bg-blue-500 block text-white text-xl' %>
    <%= button_to t('.delete_your_request'), my_need_path, method: :delete, 'data-confirm': t('common.confirm'), class: 'ml-2 p-8 bg-red-500 block text-white text-xl' %>
  </div>
  <% if (offers = @need.offers).length > 0 %>
    <h3 class="text-xl text-center mt-4"><%= t('.you_got_proposal', count: @need.offers.length) %></h3>
    <% offers.each do |offer| %>
      <p class="text-center"><%= t('.contact') %>: <%= offer.contact_info %></p>
      <p class="italic text-center mb-4"><%= offer.message %></p>
    <% end %>
  <% end %>
<% end %>

<% if current_user.volunteer? %>
  <% if (offer = @need.offers.find_by(user_id: current_user.id)) %>
    <h3 class="text-xl text-center"><%= t('.already_sent') %></h3>
    <p class="italic text-center"><%= offer.message %> (<%= offer.contact_info %>)</p>
  <% else %>
    <h3 class="text-xl text-center mt-4"><%= t('.send_now') %></h3>
    <div class="mx-auto w-full md:w-1/2">
      <%= form_with(model: [@need, Offer.new]) do |f| %>
        <%= f.label :contact_info, t('.contact_info') %>
        <%= f.text_field :contact_info, class: 'string mb-4' %>
        <%= f.label :message, t('.message') %>
        <%= f.text_area :message %>
        <%= f.submit t('common.send'), class: 'submit block mx-auto' %>
      <% end %>
    </div>
  <% end %>
<% end %>
